<!doctype html>
<html>
  <head>
  	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8">    
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
	<meta name="viewport" content="width=device-width, initial-scale=1">

    <title></title> 
	
	<link href="assets/vendor/gentelella/vendors/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
	<link href="assets/vendor/gentelella/vendors/font-awesome/css/font-awesome.min.css" rel="stylesheet">

	<link href="assets/vendor/gentelella/production/css/custom.css" rel="stylesheet">


	<style>
		.nav_menu {
			height: 58px;
		}
	</style>

  </head>
  <body class="nav-md">

  <div class="container body">
    <div class="main_container">


        <app></app>



    </div>

	<!-- <script src="assets/vendor/es6-module-loader/es6-module-loader-dev.js"></script> -->
	<!-- <script>
		//System.transpiler = 'typescript';
	</script> -->
  <!--
  <script src="node_modules/es6-shim/es6-shim.min.js"></script>
  -->
  

  <script src="assets/vendor/systemjs/system.js"></script>
  <script src="assets/vendor/angular2/angular2-polyfills.js"></script>
  
  <script src="assets/vendor/angular2/angular2.dev.js"></script>
  <!--
  <script src="node_modules/zone.js/dist/zone.js"></script>  
  <script src="node_modules/reflect-metadata/Reflect.js"></script>
  <script src="node_modules/systemjs/dist/system.src.js"></script>
  -->
  
	<script src="assets/vendor/jquery/jquery-1.12.3.min.js"></script>
	<!--
  <script src="assets/build/main.js"></script>  
	-->
	<script src="assets/build/app-bundle.js"></script>
	
    <script>
    /*
		System.config({
            //defaultJSExtensions: true,

            packages: {                
                // meaning [baseURL]/local/package when no other rules are present
                // path is normalized using map and paths configuration
                '@angular': {
                  main: 'index.js',
                  format: 'cjs',
                  //defaultExtension: 'js',
                    map: {
                  //   // use local jquery for all jquery requires in this package
                  //   'jquery': './vendor/local-jquery.js',

                  //   // import '/local/package/custom-import' should route to '/local/package/local/import/file.js'
                  //   './custom-import': './local/import/file.js'
                    //'./': 'index.js'
                   },
                  // meta: {
                  //   // sets meta for modules within the package
                  //   'vendor/*': {
                  //     'format': 'global'
                  //   }
                  // }
                }
              }
            // packages: {
            //     '@angular' : {
            //         main: 'index.js',
            //         format: 'cjs',
            //         defaultExtension: 'js'
            //         // app: {
            //         //     format: 'register'                        
            //         // }
            //     }
            // }

      });
        System.import('@angular/platform-browser')
      // System.import('assets/build/main')
             .then(null, console.error.bind(console));
     */
	</script>
  </body>
</html>
